      <!-- HEADER START -->
      <header class="site-header header-style-3 mobile-sider-drawer-menu">
        <!-- MAIN BAR START -->
        <div class="sticky-header main-bar-wraper">
          <div class="main-bar site-bg-primary">
            <div class="container">
              <!-- SITE LOGO -->
              <div class="logo-header mostion">
                <a href="index.html">
                  <img
                    src="images/logo-light.png"
                    width="171"
                    height="49"
                    alt=""
                  />
                </a>
              </div>

              <div class="header-nav navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="javascript:;"
                      >Accueil<i class=""></i
                    ></a>
                  </li>

                  <li>
                    <a href="javascript:;"
                      >A propos<i class=""></i
                    ></a>
                  </li>

                  <li>
                    <a href="javascript:;"
                      >Services<i class=""></i
                    ></a>
                  </li>

                  <li>
                    <a href="javascript:;"
                      >Contacts<i class=""></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- HEADER END -->