            <!-- TEAM STYLE ONE START -->
            <div class="section-full p-t80 p-b50 bg-gray">
                <div class="container">
                    <div class=" m-b70">
                        <!-- TITLE START -->
                        <div class="section-head text-center">
                           <h2 class="text-uppercase">Our Team</h2>
                           <div class="wt-separator-outer">
                               <div class="wt-separator style-square">
                                   <span class="separator-left site-bg-primary"></span>
                                   <span class="separator-right site-bg-primary"></span>
                               </div>
                           </div>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
                            since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book has survived.</p>
                        </div>
                        <!-- TITLE END -->
                    </div> 
                    <div class="section-content">
                        <div class="row">
                        
                            <!-- COLUMNS 1 -->
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                <div class="wt-team-one bg-white p-a10">
                                    <div class="wt-team-media">
                                        <a href="our-team-detail.html"><img src="images/our-team/pic1.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-team-info text-center bg-white p-a10">
                                        <h4 class="wt-team-title"><a href="our-team-detail.html">Richard Wagner</a></h4>
                                        <p>Building Worker</p>
                                        <ul class="social-icons social-square social-dark m-b0">
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 2 -->
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                <div class="wt-team-one bg-white p-a10 ">
                                    <div class="wt-team-media ">
                                        <a href="our-team-detail.html"><img src="images/our-team/pic2.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-team-info text-center bg-white p-a10">
                                        <h4 class="wt-team-title"><a href="our-team-detail.html">Lisa Anderson</a></h4>
                                        <p>Building Worker</p>
                                        <ul class="social-icons social-square social-dark m-b0">
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 3 -->
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                <div class="wt-team-one  bg-white p-a10">
                                    <div class="wt-team-media">
                                        <a href="our-team-detail.html"><img src="images/our-team/pic3.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-team-info text-center bg-white p-a10">
                                        <h4 class="wt-team-title"><a href="our-team-detail.html">Tommy Atkins</a></h4>
                                        <p>Building Worker</p>
                                        <ul class="social-icons social-square social-dark m-b0">
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 4 -->
                            <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                                <div class="wt-team-one  bg-white p-a10">
                                    <div class="wt-team-media">
                                        <a href="our-team-detail.html"><img src="images/our-team/pic4.jpg" alt=""></a>
                                    </div>
                                    <div class="wt-team-info text-center bg-white p-a10">
                                        <h4 class="wt-team-title"><a href="our-team-detail.html">John Halpern</a></h4>
                                        <p>Building Worker</p>
                                        <ul class="social-icons social-square social-dark m-b0">
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                   
                        </div>
                    </div>
                </div>
            </div>
            <!-- TEAM STYLE ONE END -->   
                     